h1
{
	text-align: center;
	margin-top: 1em;
}

p
{
	padding: 10px;
	text-indent: 2em;
	margin-left: 2em;
	margin-right: 2em;
	font-weight: bold;
	border: solid;
	border-color: rgb(181 45 45);
	border-radius: 0.5em;
}

a
{
	color: black;
}

.contact
{
	text-align: center;
}

.NP
{
	font-style: italic;
	text-decoration: underline;
}